<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fkip</title>
</head>
<body>
    <div class="box">
        <h1>FAKULTAS KEGURUAN & ILMU PENDIDIKAN</h1></div>
        <style type="text/css">
            #tulisan{
                    color: 10px;
            }
            .box{
                    background: rgba(5, 36, 46, 0.37);
                    padding: 10px;
                }
        </style>
        <div class="box1">
            <h2>terdiri dari prodi-prodi</h2>
            <h3><li>Pendidikan Matematika</li>
            <li>Pendidikan Bahasa Ingris</li>
            <li>PGSD</li>
            <LI>PGPAUD</LI>
            <li>Pendidikan Bahasa Indonesia</li>
            <li>Pendidikan seni</li>
            <li>Pendidikan Sejarah</li>
            <li>Pendidikan Sosiologi</li>
            <li>Pendidikan Fisika</li>
            <li>Pendidikan Kimia</li>
            <li>Pendidikan Biologi</li>
            <li>Pendidikan Teknik Mesin</li>
            <li>Pendidikan Teknik Eloktro</li>
            <li>Bimbimngan dan Konseling</li>
            </h3></div>
            <style type="text/css">
                .box1{
                        background: rgb(13, 183, 212);
                        padding: 10px;
                    }
</body>
</html>