<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feb</title>
</head>
<body>
    <div class="box">
    <h1 id="tulisan">FAKULTAS EKONOMI & BISNIS </h1></div>
    
    <style type="text/css">
        #tulisan{
                color: 10px;
        }
        .box{
                background: red;
                padding: 10px;
            }
</style>
    
<div class="box1">
    <h2 id="tulisan1">Terdiri dari prodi-prodi</h2>
    <h3><li>Akuntansi</li>
    <li>Manajemen</li>
    <li>Ekonomi Pembangunan</li>
    <li>Ekonomi Syariah</li>
    <li>Perbankan</li>
    <li>Marketing</li>
    <li>Perpajakan</li></h3></div>
    <style type="text/css">
        #tulisan1{
                color: 10px;
        }
        .box1{
                background: rgb(245, 18, 113);
                padding: 10px;
            }
</style>
</body>
</html>