<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fk</title>
</head>
<body>
    <div class="box">
    <h1>FAKULTAS KEDOKTERAN</h1></div>
    <style type="text/css">
        #tulisan{
                color: 10px;
        }
        .box{
                background: rgb(177, 7, 7);
                padding: 10px;
            }
    </style>
    <div class="box1">
    <h2>terdiri dari prodi-prodi</h2>
    <h3><li>Gizi</li>
    <li>Ilmu Keperawatan</li>
    <li>Pendidikan Olahraga</li>
    <li>Pendidikan Dokter</li></h3></div>
    <style type="text/css">
        .box1{
                background: rgb(245, 35, 182);
                padding: 10px;
            }
</body>
</html>