<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fisip</title>
</head>
<body>
    <div class="box">
    <h1 id="tulisan">FAKULTAS ILMU SOSIAL & POLITIK</h1></div>
    <style type="text/css">
        #tulisan{
                color: 10px;
        }
        .box{
                background: rgb(95, 219, 241);
                padding: 10px;
            }
    </style>
    <div class="box1">
    <h2>terdiri dari prodi-prodi</h2>
    <h3><li>Ilmu Pemerintahan</li>
        <li>Ilmu Komunikasi</li>
        <li>Administrasi Negara</li></h3></div>
        <style type="text/css">
            .box1{
                    background: rgb(153, 117, 236);
                    padding: 10px;
                }
    
</body>
</html>